*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: teal;
    text-align: center; 
}

#subtitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    color: teal;
    text-align: center;
}

fieldset{
    border: 0;
}

body{
   background-color: rgb(0, 0, 0); 
   font-family: sans-serif;
   font-size: 1em;
   color: white;
   margin-top: 2%;
   text-align: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: rgb(255, 255, 255);
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid slateblue;
    box-shadow: 2px 2px 2px rgb(0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: silver;
}

.button{
    font-size: 1.2em;
    background: teal;
    border: 0;
    margin-bottom: 1em;
    color: rgb(255, 255, 255);
    padding: 0.2em 0.6em;
    box-shadow: 2px px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absoulute;
    top: 90%;
    left: 50%;
    margin-right: -50px;
    transform: translate(-50%, -50%);  
}

.button:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    justify-content: center;
}

#check{
    display: inline-block
}

div{
    justify-content: center;
    
}

.container{
    justify-content: center;
}